.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34; /* Adjust the background color as needed */
  position: relative;
  z-index: 1;

  /* background-image: url('https://cdn.discordapp.com/attachments/505911879709753344/1211109202458574948/image.png?ex=65ed0057&is=65da8b57&hm=37ad18b552e8371f6dc10d7ea5319f1be2aa642eb7a5d119ec6057db45c34be5&'); */
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
}
  
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  text-align: center;
  width: 30vw;
  height: 60vh;
  padding: 4vh;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 3;

  /* background-image: url('https://cdn.discordapp.com/attachments/505911879709753344/1211109202458574948/image.png?ex=65ed0057&is=65da8b57&hm=37ad18b552e8371f6dc10d7ea5319f1be2aa642eb7a5d119ec6057db45c34be5&'); */
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

h1 {
  color: #333; /* Adjust the text color as needed */
}

.connect-wallet-btn {
  background-color: #d0a32f; /* Button background color */
  color: white; /* Button text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
  text-align: center;
  height: 50px;
  margin-bottom: 40px;
}

.play-game-btn {
  background-color: #4CAF50; /* Green background */
  width: 100%; /* Full width */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Padding for size */
  font-size: 18px; /* Text size */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth background color transition on hover */
  margin-top: -30px; /* Space above the button */
  display: 'inline-block';
  vertical-align: middle;
  font-family: monospace;
}

.connect-wallet-btn:hover {
  background-color: #bb9430; /* Darker shade for hover effect */
}

.play-game-btn:hover {
  background-color: #45a049; /* Darker shade of green on hover */
}

.play-game-btn:disabled {
  background-color: #cccccc; /* Gray background when disabled */
  color: #666666; /* Dark gray text when disabled */
  cursor: not-allowed; /* Show 'not-allowed' cursor when disabled */
}